.unitBorder {
  position: relative;
  border: solid #000000;
  border-radius: 8%;
  width: 46%;
  height: 33vh;
  margin: 2%;
}

.unitBody {
  text-align: left;
}
.unitText {
  margin-left: 1%;
}

.addItem {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 10vh;
  font-size: 15vh;
}

.unitFooter {
  border-top: solid #919191;
}
input {
  width: 90%;
}
