.unitBorder {
  position: relative;
  border: solid #000000;
  border-radius: 10%;
  width: 46%;
  height: 33vh;
  margin: 2%;
}

.unitBody {
  text-align: left;
}
.unitText {
  margin-left: 1%;
}

.addItem {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 800%;
}
